<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Home Servlet -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <servlet-class>Controller.RequestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BannerServlet</servlet-name>
        <servlet-class>Controller.BannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopUpServlet</servlet-name>
        <servlet-class>Controller.PopUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readingTest</servlet-name>
        <servlet-class>Controller.ReadingTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeningTest</servlet-name>
        <servlet-class>Controller.ListeningTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>speakingTest</servlet-name>
        <servlet-class>Controller.SpeakingTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>writingTest</servlet-name>
        <servlet-class>Controller.WritingTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest</servlet-name>
        <servlet-class>Controller.InsertTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishTest</servlet-name>
        <servlet-class>Controller.FinishTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeTest</servlet-name>
        <servlet-class>Controller.TakeTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doExam</servlet-name>
        <servlet-class>Controller.DoExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listExam</servlet-name>
        <servlet-class>Controller.ListExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreTest</servlet-name>
        <servlet-class>Controller.ScoreTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreRead</servlet-name>
        <servlet-class>Controller.ScoreReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreListen</servlet-name>
        <servlet-class>Controller.ScoreListenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreSpeak</servlet-name>
        <servlet-class>Controller.ScoreSpeakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scoreWrite</servlet-name>
        <servlet-class>Controller.ScoreWriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishScore</servlet-name>
        <servlet-class>Controller.FinishScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topicExam</servlet-name>
        <servlet-class>Controller.TopicExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createExam</servlet-name>
        <servlet-class>Controller.CreateExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishCreate</servlet-name>
        <servlet-class>Controller.FinishCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!-- Logout Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Session Config -->
    <servlet-mapping>
        <servlet-name>RequestPasswordServlet</servlet-name>
        <url-pattern>/request_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/myProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BannerServlet</servlet-name>
        <url-pattern>/banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopUpServlet</servlet-name>
        <url-pattern>/popup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readingTest</servlet-name>
        <url-pattern>/readingTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeningTest</servlet-name>
        <url-pattern>/listeningTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>speakingTest</servlet-name>
        <url-pattern>/speakingTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>writingTest</servlet-name>
        <url-pattern>/writingTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest</servlet-name>
        <url-pattern>/insertTest</url-pattern>
    </servlet-mapping>
    <!--        <session-config>
        <session-timeout>100</session-timeout>
    </session-config>-->
    <!-- Welcome File -->
    <servlet-mapping>
        <servlet-name>finishTest</servlet-name>
        <url-pattern>/finishTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeTest</servlet-name>
        <url-pattern>/takeTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doExam</servlet-name>
        <url-pattern>/doExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listExam</servlet-name>
        <url-pattern>/listExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreTest</servlet-name>
        <url-pattern>/scoreTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreRead</servlet-name>
        <url-pattern>/scoreRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreListen</servlet-name>
        <url-pattern>/scoreListen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreSpeak</servlet-name>
        <url-pattern>/scoreSpeak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scoreWrite</servlet-name>
        <url-pattern>/scoreWrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishScore</servlet-name>
        <url-pattern>/finishScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topicExam</servlet-name>
        <url-pattern>/topicExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createExam</servlet-name>
        <url-pattern>/createExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishCreate</servlet-name>
        <url-pattern>/finishCreate</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
